<!-- Start section etablissement-gerer -->
<section class="etablissement-gerer md-whiteframe-1dp" flex="80" layout="column">
	<md-toolbar class="md-theme-indigo titre-section">
        <h1 class="md-toolbar-tools"><i class="fa fa-cog" aria-hidden="true"></i>Gérer des établissements</h1>
    </md-toolbar>
	<md-content>
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Téléphone</th>
					<th>Adresse email</th>
					<th>Détails</th>
					<th>Modifier</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="e in listeEtablissements">
					<td>{{e.nom}}</td>
					<td>{{e.tele}}</td>
					<td>{{e.email}}</td>
					<td class="td-fix">
						<div class="popover">
							<md-button class="btn-info" ng-click="">
								<i class="fa fa-info-circle" aria-hidden="true"></i>
								Infos
							</md-button>
							<div class="popover-contenu md-whiteframe-3dp">
								<p>Nom : <span>{{e.id}}</span></p>
								<p>Nom : <span>{{e.nom}}</span></p>
								<p>Adresse : <span>{{e.adresse}}</span></p>
								<p>ville : <span>{{e.ville}}</span></p>
								<p>Téléphone : <span>{{e.tele}}</span></p>
								<p>Fax : <span>{{e.fax}}</span></p>
								<p>Adresse email : <span>{{e.email}}</span></p>
								<p>Site Web : <span>{{e.siteWeb}}</span></p>
							</div>
						</div>
					</td>
					<td class="td-fix">
						<md-button class="btn-success" ng-click="modifierDialog($event,e.id)">
							<i class="fa fa-pencil" aria-hidden="true"></i>
							Modifier
						</md-button>
					</td>
					<td class="td-fix">
						<md-button class="btn-danger" ng-click="supprimerDialog($event,e.id)">
							<i class="fa fa-trash" aria-hidden="true"></i>
							Supprimer
						</md-button>
					</td>
				</tr>
			</tbody>
		</table>
	</md-content>
</section>
<!-- End section etablissement-gerer -->
<div style="display: none" class="modale-modifier">
    <div class="md-dialog-container" id="modifierDialogTemp">
      <md-dialog layout-padding>
			<section class="etablissement-modifier" flex >
				<md-toolbar class="md-theme-indigo titre-section">
			        <h1 class="md-toolbar-tools"><i class="fa fa-wrench" aria-hidden="true"></i>  Modifier un établissement</h1>
			    </md-toolbar>
				<md-content class="modifier-form">
				<form
					method		   = "POST" 
					name		   = "etablissementForm" 
					formnovalidate = "novalidate">
							  
					<md-content layout="column">
						<!-- **************************************************************************************************************************************************** -->
						<md-content flex layout="row">
							<div class="input-label md-body-2" flex="25">Nom de société</div>
							
							<div flex="5"></div>
							
							<md-input-container flex="80">
								<label>Nom de société</label>
								
								<input
										type		 = "text"  
										required	 = "required"
										autocomplete = "off"
										name		 = "nom"
										ng-model	 = "etablissement.nom"
										ng-value	 = "etablissementMod.nom" 
										ng-maxlength = "255" 
										ng-pattern	 = "/^[a-z0-9_-]+$/">
									      	
								<div class="hint" ng-if="showHints">
									Ce champ est obligatoire.<br>
									Si vous le remplissez, merci de mettre une information exacte.<br>
								</div>
									      	
								<div ng-messages="etablissementForm.nom.$error" ng-if="!showHints">
									<div ng-message="required">Ce champ est obligatoire.</div>
									<div ng-message="maxlength">Nom de la société trop long.</div>
									<div ng-message="pattern">
										Le nom de la société est invalide.<br>
										vous pouvez utiliser des caractères alphanumériques en minuscules, des traits d'union et des barres de soulignement.
									</div>
								</div>
							</md-input-container>
						</md-content>
						<!-- **************************************************************************************************************************************************** -->
						<md-content flex layout="row">
							<div class="input-label md-body-2" flex="25">Adresse</div>
							
							<div flex="5"></div>
							
							<md-input-container flex="80">
								<label>Adresse de société</label>
								
								<input
										type		 = "text"  
										required	 = "required"
										name		 = "adresse"
										ng-model	 = "etablissement.adresse"
										ng-value	 = "etablissementMod.adresse" 
										ng-maxlength = "8" 
										ng-pattern	 = "">
									      	
								<div class="hint" ng-if="showHints">
								</div>
									      	
								<div ng-messages="etablissementForm.adresse.$error" ng-if="!showHints">
									<div ng-message="required">Ce champ est obligatoire.</div>
									<div ng-message="maxlength"></div>
									<div ng-message="pattern"></div>
								</div>
							</md-input-container>
						</md-content>
						<!-- **************************************************************************************************************************************************** -->
						<md-content flex layout="row">
							<div class="input-label md-body-2" flex="25">ville</div>
							
							<div flex="5"></div>
							
							<md-input-container flex="80">
								<label>Choisissez une ville</label>
							
								<md-select
											required	= "required"
											name		= "ville" 
											ng-model	= "etablissement.ville">
											
									<md-option ng-repeat="ville in villes" value="{{ville}}">
										{{ville}}
									</md-option>
								</md-select>
									      	
								<div class="hint" ng-if="showHints"></div>
									      	
								<div ng-messages="etablissementForm.ville.$error" ng-if="!showHints">
									<div ng-message="required">Ce champ est obligatoire.</div>
								</div>
							</md-input-container>
						</md-content>
						<!-- **************************************************************************************************************************************************** -->
						<md-content flex layout="row">
							<div class="input-label md-body-2" flex="25">Téléphone</div>
							
							<div flex="5"></div>
							
							<md-input-container flex="80">
								<label>Numéro de téléphone</label>
								
								<input
										type		 = "tele"  
										required	 = "required"
										name		 = "tele"
										ng-model	 = "etablissement.tele"
										ng-value	 = "etablissementMod.tele" 
										ng-maxlength = "8" 
										ng-pattern	 = "/^[0-9]{8}$/">
									      	
								<div class="hint" ng-if="showHints">
								</div>
									      	
								<div ng-messages="etablissementForm.tele.$error" ng-if="!showHints">
									<div ng-message="required">Ce champ est obligatoire.</div>
									<div ng-message="maxlength"></div>
									<div ng-message="pattern"></div>
								</div>
							</md-input-container>
						</md-content>
						<!-- **************************************************************************************************************************************************** -->
						<md-content flex layout="row">
							<div class="input-label md-body-2" flex="25">Fax</div>
							
							<div flex="5"></div>
							
							<md-input-container flex="80">
								<label>Numéro de fax </label>
								
								<input
										type		 = "tel"  
										required	 = "required"
										name		 = "fax"
										ng-model	 = "etablissement.fax"
										ng-value	 = "etablissementMod.fax" 
										ng-maxlength = "8" 
										ng-pattern	 = "/^[0-9]{8}$/">
									      	
								<div class="hint" ng-if="showHints"></div>
									      	
								<div ng-messages="etablissementForm.fax.$error" ng-if="!showHints">
									<div ng-message="required">Ce champ est obligatoire.</div>
									<div ng-message="maxlength"></div>
									<div ng-message="pattern"></div>
								</div>
							</md-input-container>
						</md-content>
						<!-- **************************************************************************************************************************************************** -->
						<md-content flex layout="row">
							<div class="input-label md-body-2" flex="25">Adresse email</div>
							
							<div flex="5"></div>
							
							<md-input-container flex="80">
								<label>Adresse email professionnelle</label>
								
								<input
										type		 = "email"  
										required	 = "required"
										name		 = "email"
										ng-model	 = "etablissement.email"
										ng-value	 = "etablissementMod.email" 
										ng-pattern	 = "">
									      	
								<div class="hint" ng-if="showHints">
								</div>
									      	
								<div ng-messages="etablissementForm.email.$error" ng-if="!showHints">
									<div ng-message="required">Ce champ est obligatoire.</div>
									<div ng-message="pattern"> </div>
								</div>
							</md-input-container>
						</md-content>
						<!-- **************************************************************************************************************************************************** -->
						<md-content flex layout="row">
							<div class="input-label md-body-2" flex="25">Site Web</div>
							
							<div flex="5"></div>
							
							<md-input-container flex="80">
								<label>Lien vers le site web de la Société</label>
								
								<input
										type		 = "url"  
										required	 = "required"
										name		 = "siteWeb"
										ng-model	 = "etablissement.siteWeb"
										ng-value	 = "etablissementMod.siteWeb" 
										ng-pattern	 = "">
									      	
								<div class="hint" ng-if="showHints"></div>
									      	
								<div ng-messages="etablissementForm.siteWeb.$error" ng-if="!showHints">
									<div ng-message="required">Ce champ est obligatoire.</div>
									<div ng-message="pattern"></div>
								</div>
							</md-input-container>
						</md-content>
						<!-- **************************************************************************************************************************************************** -->
						<md-content flex layout="row" layout-align="center center" class="btn-valider">
							<md-button class="md-raised md-primary" ng-click="confirmerModifierDialog()">Modifier</md-button>
							<md-button type="reset" class="md-raised md-primary">Réinitialiser les champs</md-button>
							<md-button class="md-raised md-primary" ng-click="cancel()">koko</md-button>
						</md-content>
					</md-content>
				</form>
				</md-content>
			</section>
      </md-dialog>
    </div>
 </div>