<!-- Start section loading -->
<section ng-show="loading" class="loader loading">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</section>
<!-- End section loading -->
<!-- Start section etablissement-gerer -->
<section ng-show="!loading" class="vues-section vues-section-etablissement md-whiteframe-1dp" flex="80">
	<md-toolbar class="md-theme-indigo vues-section-titre">
        <h1 class="md-toolbar-tools"><i class="fa fa-cog" aria-hidden="true"></i>Gérer des établissements</h1>
    </md-toolbar>
	<md-content layout="column" class="vues-section-tableau">
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Téléphone</th>
					<th>Adresse email</th>
					<th>Détails</th>
					<th>Modifier</th>
					<th>Supprimer</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="e in listeEtablissements" class="td-padding">
					<td>{{e.nom}}</td>
					<td>{{e.tele}}</td>
					<td>{{e.email}}</td>
					<td class="td-fix">
						<div class="popover">
							<md-button class="btn-info" ng-click="">
								<i class="fa fa-info-circle" aria-hidden="true"></i>
								Infos
							</md-button>
							<div class="popover-contenu md-whiteframe-3dp">
								<p>Nom : <span>{{e.id}}</span></p>
								<p>Nom : <span>{{e.nom}}</span></p>
								<p>Adresse : <span>{{e.adresse}}</span></p>
								<p>ville : <span>{{e.ville}}</span></p>
								<p>Téléphone : <span>{{e.tele}}</span></p>
								<p>Fax : <span>{{e.fax}}</span></p>
								<p>Adresse email : <span>{{e.email}}</span></p>
								<p>Site Web : <span>{{e.siteWeb}}</span></p>
							</div>
						</div>
					</td>
					<td class="td-fix">
						<md-button class="btn-success" ng-click="modifierDialog($event,e.id,$index)">
							<i class="fa fa-pencil" aria-hidden="true"></i>
							Modifier
						</md-button>
					</td>
					<td class="td-fix">
						<md-button class="btn-danger" ng-click="supprimerDialog($event,e.id,$index)">
							<i class="fa fa-trash" aria-hidden="true"></i>
							Supprimer
						</md-button>
					</td>
				</tr>
			</tbody>
		</table>
	</md-content>
</section>
<!-- End section etablissement-gerer -->