.inscription
{
	display: flex;
}
.inscription > .inscription-form
{
	width: 1000px;
	padding: 20px 25px 15px 25px;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin: auto;
}
.inscription > .inscription-form > div > form > md-content
{
	overflow: hidden;
}
.inscription > .inscription-form > div > form > md-content > h3
{
	color: #367fa9;
    padding: 4px 10px;
    font-weight: bold;
/*     border-left :solid 3px #367fa9; */
    color: #fff;
    background-color: #337ab7;
}
/* .inscription > .inscription-form > div > form > md-content > md-input-container > .label-radio */
/* { */
/* 	margin-bottom: 20px; */
/* } */
.inscription > .inscription-form > div > form > md-content > md-input-container > div.input-file
{
	position: relative;
	height: 50px;
	line-height: 50px;
	background-color:#F8F8F8;
	border:dashed 4px #e1e1e1; /*rgba(0,0,0,0.12);/*#e3f2fd;/*#2e6da4;*/
}
.inscription > .inscription-form > div > form > md-content > md-input-container > div.input-file > input[type="file"]
{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 10;
}
.inscription > .inscription-form > div > form > md-content > md-input-container > div.input-file:after
{
	position: absolute;
	top: -4px;
	right: -4px;
	content: "Choisir un avatar";
	border:solid 4px #337ab7;
	display: block;
	color: #fff;
    background-color: #337ab7;
	height: 100%;
	line-height: inherit;
	padding: 0 20px;
	z-index: 9;
}
.inscription > .inscription-form > div > form > md-content > md-input-container > div.liste-images
{
	background-color: #fafafa;
}
.inscription > .inscription-form > div > form > md-content > md-input-container > div.liste-images  span.item-image
{
	display: inline-block;
	margin-top: 10px;
}

canvas 
{
   background-color: #f3f3f3;
   -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
      -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
           box-shadow: 3px 3px 3px 0 #e3e3e3;
           
   border: 1px solid #c3c3c3;
   height: 100px;
   margin: 6px 0 0 6px;
}