body
{
	background-color: #f5f5f5;
}
.image-logo
{
	margin: auto;
	display: block;
}
.lien
{
	color : #fff;
	text-decoration: none;
	display: block;
}
container,
md-content
{
	background-color: #f5f5f5;
}

md-nav-bar.md-default-theme .md-nav-bar,
md-nav-bar .md-nav-bar 
{
	background-color: #367fa9;
}

md-nav-bar.md-default-theme md-nav-ink-bar,
md-nav-bar md-nav-ink-bar
{
	color : #fff !important;
	background : #fff !important;
}

.contenu
{
	padding: 70px;
}
.contenu md-content
{
	background-color: #fff;
}