.inscription
{
	display: flex;
}
.inscription > .inscription-form
{
	width: 1000px;
	padding: 20px 25px 15px 25px;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin: auto;
}
.inscription > .inscription-form > div > form > md-content
{
	overflow: hidden;
}
.inscription > .inscription-form > div > form > md-content > h3
{
	color: #367fa9;
    padding: 4px 10px;
    font-weight: bold;
/*     border-left :solid 3px #367fa9; */
    color: #fff;
    background-color: #337ab7;
}
/* .inscription > .inscription-form > div > form > md-content > md-input-container > .label-radio */
/* { */
/* 	margin-bottom: 20px; */
/* } */