<!-- Start section login -->
<section class="login">
	<div class="login-form  md-whiteframe-1dp">
		<h1>FormaSIGA</h1>
		<hr class="hr1"/>
		<div>
			<form method="POST"  th:action="formasiga">
				<md-content layout="column" class="md-no-momentum">
				
				    <md-input-container class="md-icon-float md-block">
				     	<label>Adresse e-mail ou mobile</label>
				      	<md-icon  style="display:inline-block;"><i class="fa fa-user fa-2x" aria-hidden="true"></i></md-icon>
				      	<input type="text" name="username">
				    </md-input-container>
				    
				    <md-input-container class="md-icon-float md-block">
				      	<label>Mot de passe</label>
				      	<md-icon  style="display:inline-block;"><i class="fa fa-lock fa-2x" aria-hidden="true"></i></md-icon>
				      	<input type="text" name="password">
				    </md-input-container>
				    
				    <div layout="column" layout-align="center center" class="md-block">
				        <md-button type="submit" style="display:inline-block;" class="md-raised md-primary">Connexion</md-button>
				    </div>
					
				</md-content>
			</form>
		</div>
		<hr class="hr2"/>
		<div>
			<p>
				Tu n'est pas membre ? 
				<a ui-sref="inscription">Inscription</a>
			</p>
			<p>
				<a ui-sref="inscription">Informations de compte oubliées ?</a>
			</p>
		</div>
	</div>
</section>
<!-- End section login -->